*{
  box-sizing:border-box;
  font-family:Arial;
}

body{
  margin:0;
  height:100vh;
  background:url("https://images.unsplash.com/photo-1521747116042-5a810fda9664") center/cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:rgba(0,0,0,0.55);
  color:white;
  width:90%;
  max-width:350px;
  padding:25px;
  border-radius:20px;
  backdrop-filter: blur(10px);
  box-shadow:0 0 30px rgba(0,255,150,0.6);
  text-align:center;
}

h1{
  margin-bottom:15px;
}

.search{
  display:flex;
  gap:10px;
}

input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:8px;
  outline:none;
}

button{
  background:#00ffcc;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

#result{
  margin-top:20px;
}

#result p{
  margin:8px 0;
  font-size:18px;
}